<div class="waterfall-item">
  <article class="article-card archive-article">
    <div class="post-meta">
      <%- partial('post/date', { post: post, date_format: date_format}) %>
      <%- partial('post/category', { post: post }) %>
      <%- partial('post/tag') %>
    </div>
    <%- partial('post/title', {
        hasLink: true
      }) %>
  </article>
</div>
