<footer class="footer">
    <div class="top">
        <%- partial('plugins/site-visit') %>
        <p>
            <span><%- __('footer.license') %></span>
        </p>
    </div>
    <div class="bottom">
        <p><span><%-config.author %> &copy; <%if (theme.since_year && theme.since_year < date(new Date(), 'YYYY')) {%><%- theme.since_year %> - <%}%><%- date(new Date(), 'YYYY') %></span>
            <span>
                <% if(theme.ICP_license) {%>
                <a href="http://www.miitbeian.gov.cn/" target="_blank"><%- theme.ICP_license %></a><br>
                <% } %>
                Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> and a wonderful theme <a href="https://github.com/yscoder/hexo-theme-indigo" target="_blank">indigo</a> within several <a href="https://github.com/wi1dcard/blog/commits/master/themes/indigo" target="_blank">modifications</a>.
            </span>
        </p>
    </div>
</footer>
