<article id="<%= post.layout %>-<%= post.slug %>"
  class="article-card article-type-<%= post.layout %>" itemprop="blogPost">

    <div class="post-meta">
        <%- partial('post/date', {date_format: config.date_format}) %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
    </div>

    <%- partial('post/title', { hasLink: true }) %>

    <div class="post-content" id="post-content" itemprop="postContent">

    <% if(theme.excerpt_render) { %>
        <%- post.excerpt || post.content %>
    <% } else { %>
        <%- post.excerpt ? strip_html(post.excerpt) : truncate(strip_html(post.content), {
            length: theme.excerpt_length
        }) %>
    <% } %>

        <a href="<%- url_for(post.path) %>" class="post-more waves-effect waves-button">
            <%= __('post.continue_reading') %>
        </a>
    </div>
</article>
