<%- partial('post/toc', { post: post }) %>
<article id="<%= post.layout %>-<%= post.slug %>"
  class="post-article article-type-<%= post.layout %> fade" itemprop="blogPost">

    <div class="post-card">
        <h1 class="post-card-title"><%- post.title %></h1>
        <div class="post-meta">
            <%- partial('post/date', {date_format: config.date_format}) %>
            <%- partial('post/category') %>
            <%- partial('plugins/page-visit') %>
        </div>
        <div class="post-content" id="post-content" itemprop="postContent">
            <% if (moment().diff(post.date, 'days') > 180) { %>
                <blockquote><p>Articles that updated a long time ago may have already lost the technical merit. Please kindly pay attention while reading.</p></blockquote>
            <% } %>

            <%- post.content %>
        </div>

        <%- // partial('post/copyright') %>
        <%- partial('post/reward-btn') %>
    </div>

    <%- partial('post/nav') %>

    <%- partial('post/comment') %>
</article>
<%- partial('post/reward') %>
