<script src="<%- url_for('/js/waves.js') %>"></script>
<script>
var BLOG = { ROOT: '<%= config.root %>', SHARE: <%- theme.share %>, REWARD: <%- Boolean(page.reward) %> };

<% if (theme.cnzz){ %>
lazyScripts.push('//s95.cnzz.com/z_stat.php?id=<%-theme.cnzz %>&web_id=<%-theme.cnzz %>')
<% } %>
</script>

<script src="<%- url_for('/js/main.js') %>"></script>
<% if (theme.search){ %>
<div class="search-panel" id="search-panel">
    <ul class="search-result" id="search-result"></ul>
</div>
<script src="<%- url_for('/js/search.js') %>" async></script>
<% } %>

<%- partial('plugins/mathjax') %>

<% if (theme.visit_counter) { %>
<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>

<%- partial('plugins/dynamic-title') %>
